In [1]:
from sklearn.neighbors import KNeighborsClassifier

In [2]:
import pandas as pd
import numpy as np

In [3]:
pdTitanicTrain = pd.read_csv("/dbfs/FileStore/tables/train.csv")

In [4]:
pdTitanicTrain.describe()

In [5]:
pdTitanicTest = pd.read_csv("/dbfs/FileStore/tables/train.csv")

In [6]:
pdTitanicTest.describe()

In [7]:
target = pdTitanicTrain['Survived'].values

In [8]:
np.sum(target)

In [9]:
np.mean(target)

In [10]:
pdTitanicTrain.head()

In [11]:
pdTitanicTrain.info()

In [12]:
PassengerId
Pclass
Sex
Age
SibSp
Parch
Fare

In [13]:
pdTitanicTrain['Male'] =  pdTitanicTrain['Sex'] == 'male'

In [14]:
pdTitanicTrain.head()

In [15]:
pdTitanicTrain['Male']  = pdTitanicTrain['Male'].astype('int')

In [16]:
pdTitanicTrain2 = pdTitanicTrain.loc[:, ['PassengerId', 'Pclass', 'Male', 'Age', 'SibSp', 'Parch', 'Fare' ]]

In [17]:
pdTitanicTrain2.info()

In [18]:
pdTitanicTrain2.head()